.footer {
  position: absolute;
  bottom: 30px;
  left: 0;
  padding: 0 80px;
  width: 100%;

  @media (max-width: 767px) {
    padding: 0 15px;
  }

  &-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 767px) {
      justify-content: center;
    }
  }

  &-address {
    font-style: normal;

    &:hover {
      .icon {
        transform: translateY(-10px);
      }
    }
  }

  &-social {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;

    @media (max-width: 767px) {
      margin-left: 0;
      margin-top: 10px;
    }

    &__link + &__link {
      margin-left: 20px;
    }

    &__anchor {
      color: rgba(255, 255, 255, 0.6);
      transition: all 0.3s ease-in-out;

      &:hover {
        color: rgba(255, 255, 255, 1);
      }
    }
  }
}
