.header {
  &-container {
    max-width: 500px;
  }

  &-nav {
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    padding: 30px 80px;
    background-color: transparent;
    z-index: 9;
    transition: all 0.3s ease-in-out;

    &.sticky {
      position: fixed;
      top: 0;
      width: 100%;
      background-color: #fff;
      color: #000;

      .header-info__hours {
        color: inherit;
      }
    }
  }
}
