#home {
  height: 100vh;
  background: url("../../public/images/bg/main-bg.jpg") no-repeat;
  background-attachment: fixed;
  background-position-x: right !important;
  background-size: cover;

  @media (max-width: 768px) {
    height: 75vh;
  }

  @media (max-width: 767px) {
    background-position-x: 80% !important;
    height: 100vh;
  }
}
